* {
  margin: 0px;
  padding: 0px;
}

.main {
  position: relative;
  z-index: 1;
}

.main-img,
.main-first,
.main-second {
  width: 300vw;
  height: 460px;
}

.main-img {
  display: flex;
  transition: transform 0.5s;
}

.main-first > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-second > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: translate(-100vw); */
}

.main-second {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first,
.second {
  width: 70px;
  height: 5px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
}

.first {
  margin-right: 10px;
}

.button-box {
  position: absolute;
  z-index: 3;
  text-align: center;
  width: 100%;
  bottom: 10px;
}

/* ========================================================= */

.section-1 {
  display: flex;
  justify-content: center;
}

.border-box {
  /* border: 1px solid black; */
  width: 1050px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slides-wrap {
  width: 754px;
  height: 400px;
  /* border: 1px solid black; */
  /* overflow: hidden; */
  position: relative;
}

.slide-img {
  width: 714px;
  height: 400px;
  margin: 0 20px;
}

.slide-img > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

li:nth-child(1) > .slide-img {
  background-color: cornflowerblue;
}

li:nth-child(2) > .slide-img {
  background-color: tomato;
}

li:nth-child(3) > .slide-img {
  background-color: cadetblue;
}
li:nth-child(4) > .slide-img {
  background-color: cornflowerblue;
}

.slide-box {
  display: flex;
  position: absolute;
  align-items: center;
  left: 0px;
  top: 0;
}

.prev,
.next {
  font-size: 80px;
  position: absolute;
  top: 120px;
  cursor: pointer;
  color: white;
}

.prev {
  left: -150px;
  width: 130px;
  height: 300px;
  top: 50px;
  text-align: center;
  line-height: 300px;
}

.next {
  left: 780px;
  width: 130px;
  height: 300px;
  top: 50px;
  text-align: center;
  line-height: 300px;
}
