* {
  margin: 0px;
  padding: 0px;
}

.h-header {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.h-title-page {
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  /* border-bottom: 1px solid; */
  /* background-color: wheat; */
}

.h-top-line {
  width: 1050px;
  height: 100px;
  /* background-color: palevioletred; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.h-logo {
  width: 110px;
  height: 100px;
}

.h-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h-cart > a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 10px;
  margin-left: 10px;
}

.h-join > a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 10px;
}

.h-join {
  border-right: 1px solid#ddd;
}

.h-line-right {
  display: flex;
  align-items: flex-start;
}

.h-ctg {
  list-style: none;
  display: flex;
  align-items: center;
}

.h-bottom-line > ul > li {
  margin-right: 60px;
}

.h-ctg > li > a {
  color: #d9d9d9;
  font-size: 17px;
  font-weight: 700;
  text-decoration-line: none;
}

/* ========================================================= */

.main {
  position: relative;
  z-index: 1;
}

.main-img,
.main-first,
.main-second {
  width: 300vw;
  height: 460px;
}

.main-img {
  display: flex;
  transition: transform 0.5s;
}

.main-first > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-second > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: translate(-100vw); */
}

.main-second {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first,
.second {
  width: 70px;
  height: 5px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
}

.first {
  margin-right: 10px;
}

.button-box {
  position: absolute;
  z-index: 3;
  text-align: center;
  width: 100%;
  bottom: 10px;
}

/* ========================================================= */

.section-1 {
  display: flex;
  justify-content: center;
}

.border-box {
  /* border: 1px solid black; */
  width: 1050px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slides-wrap {
  width: 754px;
  height: 400px;
  /* border: 1px solid black; */
  /* overflow: hidden; */
  position: relative;
}

.slide-img {
  width: 714px;
  height: 400px;
  margin: 0 20px;
}

.slide-img > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

li:nth-child(1) > .slide-img {
  background-color: cornflowerblue;
}

li:nth-child(2) > .slide-img {
  background-color: tomato;
}

li:nth-child(3) > .slide-img {
  background-color: cadetblue;
}
li:nth-child(4) > .slide-img {
  background-color: cornflowerblue;
}

.slide-box {
  display: flex;
  position: absolute;
  align-items: center;
  left: 0px;
  top: 0;
}

.prev,
.next {
  font-size: 80px;
  position: absolute;
  top: 120px;
  cursor: pointer;
  color: white;
}

.prev {
  left: -100px;
}

.next {
  right: -100px;
}

/* ===================================================== */

.f-footer {
  background-color: #f5f5f7;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-footer-box {
  max-width: 1050px;
  width: 100vw;
  padding: 0 22px;
}

.f-footer-menu {
  display: flex;
  justify-items: center;
  align-content: center;
}

.f-column {
  width: 20%;
  display: flex;
  /* text-align: ; */
}

.f-index-ul {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0 9.6px 0;
  margin: 0;
  list-style: none;
}

.f-index-li {
  font-size: 11px;
  font-weight: normal;
  padding: 0 0 9.6px 0;
  margin: 0;
  list-style: none;
}

.f-index-li > a {
  text-decoration: none;
  color: black;
}

.f-transparency {
  opacity: 0;
}

.f-footer-legal {
  padding: 25px 0;
  font-size: 11px;
  color: #6e6e73;
}

.f-footer-copyright {
  margin: 5px 30px 8px 0;
  color: #6e6e73;
}

.f-footer-copyright-wrap {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.f-footer-copyright-li::after {
  content: "|";
  color: black;
  margin-left: 10px;
}

.f-footer-copyright-li:last-child::after {
  content: "";
}

.f-footer-copyright-li {
  padding: 0 10px 0 0;
  text-decoration: none;
  color: black;
}

.f-footer-company {
  font-size: 10px;
  color: #999999;
}

.f-a:hover {
  text-decoration: underline;
}

.f-footer-copyright-li:hover {
  text-decoration: underline;
}
