.find-nav-btn {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  .findBtn{
    text-decoration: none;
    margin: 20px 0px;
    padding: 0 10px;
    border-radius: 15px;
  }
  
  .find-id-btn {
    background-color: #D61C6A;
    color: white;
  }
  
  .findIdPw {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .find-pw {
    display: none;
  }
  
  .find-input-box {
    width: 300px;
    height: 20px;
    padding: 5px 15px;
    margin: 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 15px;
    border: 0;
    background-color: #f5f5f7;
  }
  
  .find-submit-btn {
    margin: 20px 10px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    background-color: #D61C6A;
    color: white;
  }
  
  .findtxt{
  font-size : 15px;
  color : rgba(0, 0, 0, 0.8);
  }