*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 1020px;
    height: 680px;
    background-color: white;
}

.title-text{
    font-size: 22px;
    font-weight: 700;
    padding: 40px 0;
    font-size: 30px;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 50px;
}

.inner{
    width: 1020px;
    height: 370px;
}

.confirm-wrap{
    width: 1020px;
    height: 370px;
}

.form{
    width: 1020px;
    height: 300px;
}

.form-wrap{
    display: block;
    margin: 50px auto;
    overflow: hidden;
    width: 520px;
    height: 400px;

}

.input-wrap{
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 150px;
    box-sizing: border-box;
}

.input-id{
	padding-left: 20px;
    width: 518px;
    height: 55px;
    font-size: 16px;
    line-height: 55px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    background-color: #fff;
    box-shadow: none;
    outline: none;
}

.input-pw{
	padding-left: 20px;
    width: 518px;
    height: 55px;
    font-size: 16px;
    line-height: 55px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    background-color: #fff;
    box-shadow: none;
    outline: none;
}

.btn-wrap{
    width: 520px;
    height: 150px;
}

.submit-btn{
    width: 520px;
    height: 60px;
    background-color: #D61C6A;
    border: 1px solid #D61C6A;
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
}

.cancel-btn{
    width: 520px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #D61C6A;
    color: #D61C6A;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
}

.info{
    text-align: center;
    max-width: 820px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
}
