* {
  margin: 0px;
  padding: 0px;
}

.title-page {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  background-color: wheat;
  position: relative;
  z-index: 3;
}

.title-page > span {
  font-size: 25px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* ======================================================= */

.detail-main {
  width: 100%;
  height: 500px;
  background-color: #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-preview {
  width: 80px;
  height: 400px;
  /* background-color: pink; */
}

.preview {
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.preview > img {
	width: 80px;
    height: 80px;
}

.main-img {
  width: 420px;
  height: 400px;
  background-color: pink;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 40px;
  overflow: hidden;
}

.main-img > img{
  width: 420px;
  height: 400px;
  border-radius: 10px;
}

.info {
  width: 350px;
  height: 400px;
  /* background-color: rgb(121, 121, 121); */
}

.info-title{
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
  align-items: flex-end;
  margin-top: 60px;
}

.kor-name {
  font-size: 28px;
  margin-right: 10px;
  font-weight: 800;
  color: white;
}

.eng-name {
  font-size: 15px;
  margin-bottom: 4px;
  font-weight: 900;
  color: rgb(110, 110, 110);
}

.info-desc {
  font-size: 16px;
  color: rgb(193, 193, 193);
  line-height: 1.8;
}

.abv {
  padding: 0 20px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(162, 162, 162);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-top: 25px;
}

.writeBtn {
	border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 15px;
    font-size: 15px;
    display: flex;
 	justify-content: center;
 	align-items: center;
}

.user-btn-wrap{
	display: flex;
}

.detail-btn-wrap {
  display: flex;
  justify-content: left;
  align-items: center;
}

.button-box {
  height: 70px;
  display: flex;
  margin-top: 35px;
}

.like-btn {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.like-btn > span {
  font-size: 22px;
  color: black;
}

.like-btn > svg {
  width: 25px;
  height: 25px;
}

.link-btn {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-btn > svg {
  width: 30px;
  height: 30px;
}

/* ============================================================ */

.myrecipe-detail-container {
  display: flex;
  justify-content: center;
}

.detail {
  width: 1050px;
  height: 100%;
  margin-bottom: 100px;
}

.section-1 {
  width: 100%;
  /* height: 30%; */
  margin: 74px auto 30px;
  background-color: white;
}

.ingre-title,
.recipe-title {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.ingre-title > span,
.recipe-title > span {
  font-size: 16px;
  font-weight: 800;
  color: rgb(79, 79, 79);
  margin-left: 30px;
  margin-top: 30px;
}

.ingre-box {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
  box-shadow: rgb(0 0 0 / 8%) 3px 8px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.ingre {
  width: 450px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.name > span {
  font-size: 16px;
  font-weight: 600;
  color: rgb(79, 79, 79);
}

.ingre-icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: rgb(250, 240, 238);
  overflow: hidden;
  border: 1px solid #ddd;
}

.ingre-icon > img{
  width: 60px;
  height: 60px;
}

#vol {
  font-size: 18px;
  font-weight: bold;
  color: rgb(48, 48, 48);
}

.span {
  width: 375px;
  display: flex;
  justify-content: space-between;
}

.section-2 {
  width: 100%;
  /* height: 30%; */
  margin: 74px auto 30px;
  background-color: white;
}

.recipe-box {
  width: 100%;
  background: #fff;
  box-shadow: 3px 8px 20px rgb(0 0 0 / 8%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-box > p {
  max-width: 100%;
  margin: 80px 0;
  line-height: 2;
  font-size: 18px;
  font-weight: 600;
  color: #6e6e6e;
  text-align: left;
  white-space: pre-line;
}

button {
  cursor: pointer;
}
