* {
    margin: 0px;
    padding: 0px;
  }
  
  /* ===================================================== */
  .tabmenu-black > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .wrap {
    height: 100%;
  }
  
  .title-box {
    width: 1000px;
    height: 75px;
    /* background-color: wheat; */
    border-bottom: 1px solid #ddd;
  }
  
  .title-box > h3 {
    margin-left: 10px;
    margin-top: 35px;
  }
  
  .text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 12px;
    margin-top: 10px;
  }
  
  .info {
    display: flex;
  }
  
  .date {
    margin-right: 20px;
  }
  
  .id {
    margin-left: 20px;
  }
  
  .content {
    width: 1000px;
    height: 500px;
    border-bottom: 1px solid#ddd;
  }
  
  .btn-box {
    display: flex;
    justify-content: center;
  }
  
  .button {
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
  }
  
  .button > button {
    width: 150px;
    height: 50px;
    background-color: #d61c6a;
    border: 1px solid#ddd;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 30px;
  }
  
  button > span {
    color: white;
    font-weight: 700;
    font-size: 15px;
  }
  button {
    cursor: pointer;
  }
  