* {
  margin: 0px;
  padding: 0px;
}

.title-page {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  background-color: wheat;
  position: relative;
  z-index: 3;
}

.title-page > span {
  font-size: 25px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* ================================================================== */

main {
  display: flex;
  justify-content: center;
}

.order-container {
  width: 1200px;
  height: 1200px;
  /* background-color: thistle; */
  display: flex;
}

.side-bar {
  width: 200px;
  height: 250px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 30px;
}

.side-bar > ul {
  font-size: 16px;
}

.side-bar > ul > li {
  list-style-type: none;
  margin-bottom: 30px;
  display: flex;
}

.user-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.product-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.order-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.board-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.side-bar > ul > li > a {
  text-decoration-line: none;
  color: #000;
  display: flex;
}

.side-bar > ul > li:nth-child(5) {
  margin: 0px;
  margin-left: 35px;
}

/* ================================================ */

.order-management {
  width: 1000px;
  height: 800px;
  padding: 30px;
  left: 350px;
}

.order-title {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
}

.order-title > span {
  font-size: 22px;
  font-weight: bold;
}

.order-select {
  width: 800px;
  height: 50px;
  border: 1px solid#ddd;
  display: flex;
  font-size: 14px;
}

.order-select-ctg {
  width: 120px;
  border-right: 1px solid#ddd;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.date-select {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.date-select > button {
  margin-right: 10px;
  width: 50px;
  height: 30px;
  background-color: #f5f5f5;
  border: 1px solid#ddd;
  border-radius: 4px;
}

.order-select2 {
  width: 800px;
  height: 50px;
  border: 1px solid#ddd;
  border-top: none;
  display: flex;
  font-size: 14px;
}

.search-select {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#order-ctg {
  width: 100px;
  height: 25px;
  border: 1px solid#ddd;
  border-radius: 3px;
}

.search-btn {
  width: 800px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.search-btn > button {
  width: 80px;
  height: 30px;
  background-color: #f5f5f5;
  border: 1px solid#ddd;
  border-radius: 4px;
  margin-left: 10px;
}

button {
  cursor: pointer;
}

/* ============================================= */

.ctg-list-title {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.ctg-list-title > span {
  font-size: 22px;
  font-weight: bold;
}

.ctg-list {
  width: 800px;
  height: 50px;
  border: 1px solid#ddd;
  display: flex;
  font-size: 14px;
  background-color: #f5f5f5;
}

.order-date {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.order-num {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.order-name {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.order-product-name {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.order-price {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.order-pay {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctg-list-select {
  width: 800px;
  height: 300px;
  background-color: #f9f9f9;
  border: 1px solid#ddd;
  border-top: none;
}

.ctg-list-2 {
  width: 800px;
  height: 100px;
  border-bottom: 1px solid#ddd;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.list-date {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.list-num {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.list-name {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.list-product-name {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.list-price {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid#ddd;
}
.list-pay {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}
