<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myRecipe">

	<insert id="insert" parameterType="MyRecipeDTO">
		insert into myrecipe
		(myRecipe_name_kor, myRecipe_name_eng, myRecipe_desc, myRecipe_recipe, myRecipe_hits, user_number)
		values(#{myRecipeNameKor}, #{myRecipeNameEng},#{myRecipeDesc}, #{myRecipeRecipe}, 0, #{userNumber})
	</insert>
	
	<select id="select" parameterType="_int" resultType="MyRecipeDTO">
		select myRecipe_name_kor, myRecipe_name_eng, myRecipe_desc, myRecipe_recipe, myRecipe_hits, user_number, thumbnail
		from myrecipe
		where myRecipe_number = #{myRecipeNumber}
	</select>
	
	<select id="ingre" parameterType="_int" resultType="MyRecipeVO">
		select p.product_name_kor, p.product_system_name, b.pmBridge_vol, b.product_number, p.category_number
		from pmbridge b, product p
		where b.myRecipe_number = #{myRecipeNumber} and b.product_number = p.product_number
	</select>
	
	<select id="category" parameterType="_int" resultType="ProductDTO">
		select product_number, product_name_kor, product_system_name
		from product
		where category_number = #{categoryNumber}
	</select>
	
	<select id="getSequence" resultType="_int">
		select last_insert_id()
	</select>
	
	<select id="selectMrb" parameterType="map" resultType="MyRecipeDTO">
		select myRecipe_name_kor, myRecipe_number, myRecipe_hits, thumbnail  
		from myrecipe 
		order by myRecipe_number desc
		limit #{startRow}, #{rowCount} 
	</select>
	
	<select id="getTotal" resultType="_int">
		select count(myRecipe_number) from myrecipe	
	</select>
	
	<update id="upThumb" parameterType="map">
		update myrecipe
		set thumbnail = #{fileSystemName}
		where myRecipe_number = #{myRecipeNumber}	
	</update>
	
	<select id="getUserId" parameterType="_int" resultType="string">
		select u.user_id
		from myrecipe m join `user` u 
		on m.user_number = u.user_number 
		where m.myRecipe_number = #{mrbNumber}
	</select>
	
	<update id="modify" parameterType="MyRecipeDTO">
		update myrecipe
		set myRecipe_name_kor=#{myRecipeNameKor}, myRecipe_name_eng=#{myRecipeNameEng}, myRecipe_desc=#{myRecipeDesc}, myRecipe_recipe=#{myRecipeRecipe}
		where myRecipe_number = #{myRecipeNumber}
	</update>
	
	<delete id="delete">
		delete from myrecipe
		where myRecipe_number = #{myRecipeNumber}
	</delete>
	
</mapper>









