<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
	<select id="alcohol" parameterType="_int" resultType="ProductDTO">
		select product_name_kor, product_name_eng, product_price, product_ea, product_vol, product_alcohol_degree, category_number, product_system_name
		from product
		where product_number = ${productNumber}
	</select>
	
	<select id="ingredients" parameterType="_int" resultType="ProductDTO">
		select product_name_kor, product_name_eng, product_price, product_ea, product_vol, product_alcohol_degree, category_number, product_system_name
		from product
		where product_number = ${productNumber}
	</select>
	
	<select id="supplies" parameterType="_int" resultType="ProductDTO">
		select product_name_kor, product_name_eng, product_price, product_ea, product_vol, product_alcohol_degree, category_number, product_system_name
		from product
		where product_number = ${productNumber}
	</select>
	
	<select id="getTotal" resultType="_int" parameterType="_int">
		select count(product_number) from product where category_number = #{categoryNumber}
	</select>
	
	<select id="alcoholBoard" parameterType="map" resultType="ProductDTO">
		select product_number, product_name_kor, product_price, product_alcohol_degree, product_system_name
		from product where category_number = 2
		<choose>
			<when test='order == null or order.equals("all")'>
				order by product_number desc
			</when>
			<when test='order.equals("name")'>
				order by product_name_kor
			</when>
			<when test='order.equals("price")'>
				order by product_price
			</when>
		</choose>		
		limit #{startRow}, #{rowCount} 
	</select>
	
	<select id="ingreBoard" parameterType="map" resultType="ProductDTO">
		select product_number, product_name_kor, product_price, product_alcohol_degree, product_system_name
		from product where category_number = 3
		<choose>
			<when test='order == null or order.equals("all")'>
				order by product_number desc
			</when>
			<when test='order.equals("name")'>
				order by product_name_kor
			</when>
			<when test='order.equals("price")'>
				order by product_price
			</when>
		</choose>		
		limit #{startRow}, #{rowCount} 
	</select>
	
	<select id="supBoard" parameterType="map" resultType="ProductDTO">
		select product_number, product_name_kor, product_price, product_alcohol_degree, product_system_name
		from product where category_number = 4
		<choose>
			<when test='order == null or order.equals("all")'>
				order by product_number desc
			</when>
			<when test='order.equals("name")'>
				order by product_name_kor
			</when>
			<when test='order.equals("price")'>
				order by product_price
			</when>
		</choose>
		limit #{startRow}, #{rowCount} 
	</select>
	
	<select id="allProduct" parameterType="_int" resultType="AllProductVO">
		<if test='productNumber &lt;= 100'>
	        select sulkit_number as number, sulkit_name_kor as name_kor, sulkit_name_eng as name_eng, sulkit_desc, sulkit_recipe, sulkit_price as price, sulkit_img as img
			from sulkit
			where sulkit_number = #{productNumber}
	    </if>
	    <if test='productNumber &gt; 100'>
	        select product_number as number, product_name_kor as name_kor, product_name_eng as name_eng, product_price as price, product_ea, product_vol, product_alcohol_degree, category_number, product_system_name as img
			from product
			where product_number = #{productNumber}
	    </if>
	</select>
	
</mapper>