<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sulkit">
	<select id="selectSulkit" resultType="SulkitDTO" parameterType="_int">
		select sulkit_name_kor, sulkit_name_eng, sulkit_desc, sulkit_recipe, sulkit_price, sulkit_img
		from sulkit
		where sulkit_number = ${sulkitNumber}
	</select>
	
	<select id="recipe" resultType="ProductDTO" parameterType="_int">
		SELECT product_name_kor, product_name_eng, product_price, product_ea, product_vol, product_alcohol_degree, category_number, product_system_name
		FROM product;
		where product_number = ${productNumber}
	</select>

</mapper>